<!DOCTYPE html>
<html lang="en" dir="ltr">
  
   <a href="/archived" style="background-color: 
   green; color: white; 
  display: block;  font-weight: 700; font-size: 1.8em; font-weight: 700; font-size: 1.8em;"
   >Archive</a>


<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
